<%= stylesheet_link_tag "crud/pagination", :media => "all" %>
<%= javascript_include_tag "crud/pagination" %>
<h1><%= "Listing #{@klass_info[:name].pluralize}" %></h1>
<div id="klass_data" style="min-width: 1045px;">
  <%= render('klass_data') %>
</div>
